ion-content, ion-list, ion-item{
--background: var(--ion-color-dark);
--ion-background-color: var(--ion-color-dark);
  font-size: 1.05em;
}


ion-header{
  box-shadow: 0px .3px 2px rgba(0, 0, 0, 0.432), 0px -0.2px 0.2px rgb(53, 53, 53);

}
ion-button{
  --border-radius: 50%;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-bottom: 12px;
  --padding-top: 12px;
}
ion-title{
  color: #33d6db;
  padding: 2px;
  margin: 2.5px;
  font-size: 1.35em;
}
ion-icon {
  font-size: 2em; //Preferred size here
}

ion-searchbar{
  color: white;
}
