<ion-header slot="start" color="dark" >
  <ion-toolbar color="dark" >
    <ion-title class="ion-text-center">
      SONGY
    </ion-title>
    <!-- <div [hidden]="active">
      <h1>{{defaultvolume.toFixed(1) * 100}}%</h1>
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content  color="dark" [fullscreen]="true" >
  <ion-list color="dark" lines="none">
    <ion-item color="dark"  button *ngFor="let audio of playlist" (click)="start(audio)">
      <ion-label [color]="audio  == active ? 'primary' : 'secondary'">{{audio.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark" >
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-range #vol min="0" max="1" step="0.1" [(ngModel)]="defaultvolume" [color]="playing  == false ? 'medium' : 'primary'" snaps="true" color="secondary"
          (ionblur)="volume()" (mouseup)="volume()">
          <ion-icon size="small" slot="start" name="volume-low"></ion-icon>
          <ion-icon slot="end" name="volume-high"></ion-icon>
        </ion-range>
      </ion-col>
      
      <!-- <ion-col size="12">
        <ion-searchbar debounce="500"></ion-searchbar>
      </ion-col> -->
      <ion-col size="12" class="ion-text-center">{{active.name}}</ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" size="default" [color]="playing  == false ? 'medium' : 'secondary'" (click)="repeat()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="default"  [color]="playing  == false ? 'medium' : 'primary'" (click)="prev()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="default"  [color]="playing  == false ? 'medium' : 'secondary'"
          (click)="playing == false ? togglePlay(true) : togglePlay(false) ">
          <ion-icon [name]="playing  == false ? 'play' : 'pause'"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="default"  [color]="playing  == false ? 'medium' : 'primary'" (click)="next()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="default"  [color]="playing  == false ? 'medium' : 'secondary'" (click)="togglePlay()">
          <ion-icon name="stop"></ion-icon>
        </ion-button>

        <ion-col size="12" class="ion-text-center">
          <ion-range #range [(ngModel)]="progress" [color]="playing  == false ? 'medium' : 'primary'" min="0" max="100"  (touchend)="seek()" (mouseup)="seek()"></ion-range>
        </ion-col>
       
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>